/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   global styles
   ========================================================================== */
body {
    padding:0;
    margin:0;
}

html {
    color:#333;
}

/* ==========================================================================
   Typography
   ========================================================================== */

p, ul, header nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

h1, h2, h3, #logo {
    font-family:'Gentium Basic', sans-serif;
    font-weight: 700;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size:4em;
}

h2 {
    font-size:2.5em;
}

.bookend {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

h3, #logo {
    font-size:1.5em;
}

.midhead {
    font-size: 1.8em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.section_body .half, .section_body h3 {
    text-align: left;
}

/* ==========================================================================
   images
   ========================================================================== */

.icon {
    max-width:150px;
    max-height:140px;
}

#process #graph{
    width:100%;
}

.step h3:after, .quality h3:after  {
    content: "";
    width: 60px;
    height: 3px;
    display: block;
    bottom: 0px;
    left: 0px;
}

.step.one h3:after{
    background: none repeat scroll 0% 0% #43AAA3;
}
.step.two h3:after{
    background: none repeat scroll 0% 0% #F16162;
}
.step.three h3:after{
    background: none repeat scroll 0% 0% #FAAF4A;
}
.step.four h3:after{
    background: none repeat scroll 0% 0% #49B8E7;
}
.step.five h3:after{
    background: none repeat scroll 0% 0% #808588;
}

.quality.one h3:after{
    background: none repeat scroll 0% 0% #f1a347;
}
.quality.two h3:after{
    background: none repeat scroll 0% 0% #e75a48;
}
.quality.three h3:after{
    background: none repeat scroll 0% 0% #1fce6e;
}
.quality.four h3:after{
    background: none repeat scroll 0% 0% #2c97de;
}

.workSample.one {
    background: #954A13 url('img/bassclef.png')center no-repeat;
}

.workSample.two {
    background: #49a73c url('img/wine-glass.png')center no-repeat;;
}

.workSample.three {
    background: #f89c20 url('img/converge.png')center no-repeat;
}

.section_body .half.img {
    text-align: center;
}

/* ==========================================================================
   Structure/Scaffolding
   ========================================================================== */
section {
    position:relative;
}

.half {
    width: 47%;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
}

.half:first-child {
    line-height: 500px;
}

header {
    width:100%;
    height:120px;
    position:fixed;
    background:white;
    z-index: 1;
}

#landing, #contact {
    display:table;
    width:100%;
}

.container {
    width:100%;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
}

.section_head, .section_body, .section_mid{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section_head {
    max-width: 1200px;
    margin-top: 8%;
    margin-bottom: 8%;
}

.section_body {
    max-width: 1400px;
}

.section_mid{
    margin-top:8%;
    max-width: 1200px;

}


.largebox {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.skillbox {
    width: 30%;
    text-align: center;
    display: inline-block;
    margin: 15px;
    vertical-align: top;
}

#description {
    max-width: 1300px;
    margin: 20px auto;
}

.step {
    width: 15%;
    margin: 0px 2%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.step h3 {
    text-align: left;
}

.box{
    position: relative;
    width: 30%;
    display:inline-block;     
}

.box:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.workSample{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* ==========================================================================
   header
   ========================================================================== */


header nav {
    float:right;
    display:inline-block;
    list-style-type: none;
    position:absolute;
    right:0;
    top:3px;
}

.navitem {
    font-size: 1em;
    margin-left: 25px;
    transition: all 0.2s ease 0s;
    padding: 7px 15px;
    font-weight: 400;
    display: block;
    float: left;
}

.navitem:hover {
    color:#22A301;
    cursor:pointer;
}

#hwrap {
    position: relative;
    margin: 65px 85px 0px;
    padding-bottom: 30px;
}

/* ==========================================================================
   landing
   ========================================================================== */

#landing p {
    color:#22A301;
}


#landing h1 {
    margin-top:5px;
}

/* ==========================================================================
   skills
   ========================================================================== */





/* ==========================================================================
   footer
   ========================================================================== */
footer {
    height:100px;
}

.socialmedia {
    width:25%;
    height:100%;
    padding:0;
    margin:0;
    display: block;
    float: left;
}

#fb {
    background:url('img/fb.png')center no-repeat;
    background-color:#3B5998;
}

#lin {
    background:url('img/lin.png')center no-repeat;
    background-color:#8195b6;
}

#twitter {
    background:url('img/twitter.png')center no-repeat;
    background-color:#85b7bd;
}

#gplus {
    background:url('img/gplus.png')center no-repeat;
    background-color:#ed4335;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
